<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>게시판 목록</title>
</head>
<body>
	<h1>게시판 목록</h1>
		<table border="1">
			<tr>
			<th>board_id</th>
			<th>board_title</th>
			<th>board_content</th>
			<th>수정</th>
			<th>삭제</th>
		</tr>
			{{#boardList}}
		<tr>
			<td>{{boardNo}}</td>
			<td><a href="/board/boardOne?boardNo={{boardNo}}">{{boardTitle}}</a></td>
			<td>{{boardContent}}</td>
			<td>
				<a href="/board/modifyBoard?boardNo={{boardNo}}">
					<button>수정</button></td>
				</a>
			<td>
				<a href="/board/deleteConfirm?boardNo={{boardNo}}">
					<button>삭제</button>
				</a>
			</td>
		</tr>
			{{/boardList}}
	</table>
    <form method="get" action="/board/boardList" class="mb-3">
       	<input type="text" name="word" class="form-control" placeholder="검색어 입력">
       	<button type="submit" class="btn btn-primary mt-2">검색</button>
	</form>
	<form action="/board/addBoard">
		<button>새 게시글 작성</button>
	</form>
    <div>
       <!-- 첫 페이지가 아닐 때 -->
		{{^boardList.isFirst}}
			<a href="/board/boardList?currentPage={{prePage}}&word={{word}}">이전페이지</a>
		{{/boardList.isFirst}}
	
		<!-- 현재 페이지 표시 -->
		{{boardList.getNumber}}
	
		<!-- 다음 페이지가 있을 때 -->
	    {{#boardList.hasNext}}
	    	<a href="/board/boardList?currentPage={{nextPage}}&word={{word}}">다음페이지</a>
	    {{/boardList.hasNext}}
</div>
</body>
</html>
