<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>로그인</h1>
	
	<form method="post" action="/member/login">
		<div>
			memberId : <input type="text" name="memberId">
		</div>
		<div>
			memberPw : <input type="password" name="memberPw">
		</div>
		<button type="submit">로그인</button>
	</form>
</body>
</html>